.App {
  width: 97%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-boo infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: rgb(210, 93, 113);
  background-image: url("vineyardsview.jpg");
  background-repeat: no-repeat;
  /* max-height: 60vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5vh 0 5Vh 0 ;
  border-radius: 30px;
  margin-bottom: .4em;
}

.App-link {
  color: rgb(51, 59, 66);
}

@keyframes App-logo-boo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newPostForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.winePlaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.winePlace {
  box-shadow: 3px 3px rgb(96, 94, 94), -1em 0 .4em gray;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: space-between;
  padding: 50px;
  margin: 30px;
}

/* .winePlace img {
  transition: transform .2s;
} */

.winePlace img:hover {
  transform: scale(1.3);
  border:3px inset rgb(219, 228, 238);
  position: relative;
  bottom: 50px;
  right: 13px;
}

.winery {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1em solid gray; */
  box-shadow: 1px 1px rgb(187, 182, 182), -1em 0 .4em gray;
  margin-top: 1em;
  padding: 1em;
}

.winery img {
  max-width:400px;
}

.deleteButton {
  color: red;
  margin-top: 1em;
}

.nav {
  margin: 200px 20px 0px 0px;
  color: rgb(51, 59, 66);
  padding: 5px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: .05em;
  text-decoration: none;
  font-size: 1.5em;
}

.footer {
  background-color:rgb(51, 59, 66);
  color: white;
  font-size: 1em;
  padding: 1em;
  min-height: 10em;
  border-style: groove;
  border-radius: 7px;
  margin-top: 30px;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
}

.footerLinks a{
  color: white;
}

.glass {
  width: 100%;
}

.bannerHeader {
  max-width: 600px;
  text-align: center;
  background-color: rgb(210, 93, 113);
  padding: 1em;
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
}

.bannerHeader > img {
  width: 50px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 2em;
}

.listItem {
  border: 5px outset rgb(213, 219, 224);
  list-style: none;
  height: 300px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: .25em;
  padding-bottom: 2em;
}

.listItem img {
  max-height: 220px;
  text-align: center;
}

.page {
  display: inline-block;
  padding-bottom: 1em;
}

.page button {
  background: white;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  color: rgb(51, 59, 66);
}

a {
  color: white;
  color: rgb(52, 128, 172);
}

.appName {
  font-size: 2em;
}

.login form{
  background-color: black;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 1em;
  border-radius: 7px;
  margin: 5px;
}

.login form button {
  background-color: rgb(51, 59, 66);
  color: white;
  padding: .5em;
  font-size: 1.1em;
  border: none;
  border-radius: 7px;
  margin: 5px;
  margin-top: 1em;
}


.login label {
  font-size: 14px;
}

.login label:first-child{
  text-align: center;
  font-size: 1em;
}

.logout {
  color: white;
  padding: .5em;
  font-size: 1.1em;
  border: 1 solid black;
  border-radius: 7px;
  margin: 5px;
  background-color: rgb(169, 43, 43);
}

.byLocation {
  display: flex;
  justify-content: space-between;
}

.byLocation li{
  margin-bottom: 1em;
  background-color: rgb(51, 59, 66);
  border-radius: 7px;
  padding: .5em;
}

.byLocation a{
  color: white;
  font-size: 1.2em;
}

.byLocation a:hover, .nav:hover {
  color: rgb(210, 93, 113);
}

.navButton {
  display: none;
  background-color: rgb(51, 59, 66);
  border-radius: 5px;
  color: white;
}

.navButton:hover{
  color:rgb(52, 128, 172);
}

.babyNav {
  color: pink;
  flex-direction: column;
  align-items: center;
  display: none;
  margin-top:.5em;
  padding: .5em;
  text-transform: uppercase;
  font-weight: bolder;
}

.babyNav a:hover {
  color: rgb(51, 59, 66);
}

.babyNav:nth-child(odd) {
  border: 1px dotted rgb(96, 94, 94);
  border-radius: 7px;
}

.socialMedia:hover {
  color:rgb(51, 59, 66);
}

.wineName , a {
  text-decoration-color: rgb(96, 94, 94);
  color:rgb(96, 94, 94)
}

.footerButton {
  background-color: #000000;
  border-radius: 3px;
  padding: .75em;
}

@media only screen and (max-width: 600px) {
  .nav {
    font-size: 1.25em;
  }

  .listItem {
    width: 200px;
  }

  .listItem img {
    max-width: 155px;
  }

  .navButton {
    display: block;
  }

  .App .topNav {
    display:none;
  }

  .babyNav{
    display: flex;
  }
  /* .App:focus-within .topNav{
    display: block;
  } */

  .winery img {
    max-width: 270px;
  }

  .byLocation {
    flex-direction: column;
  }
}